<!DOCTYPE html>

<body xmlns="http://www.w3.org/1999/html">

<table class="table table-striped" th:object="${issue}">
    <h1 th:text="*{name}"></h1>
    <tr>
        <th>Status</th>
        <td><b th:text="*{status.name}"></b></td>
    </tr>
    <tr>
        <th>Date</th>
        <td th:text="*{date}"></td>
    </tr>
    <tr>
        <th>Author</th>
        <td th:text="*{author}"></td>
    </tr>
    <tr>
        <th>Description</th>
        <td th:text="*{description}"></td>
    </tr>
</table>
<br/>
<h2>Comments:</h2>
<table id="issue" class="table table-striped">
    <style>
        table {
            border-collapse: separate;
            border-spacing: 20px 5px;
        }
    </style>
    <tbody>
    <tr th:each="comment : ${comments}">
        <td th:text="${comment.author}"/>
        <td th:text="${comment.text}"/>
    </tr>
    </tbody>
</table>
<br/>



<form action="#" th:action="@{/issues/{id}(id=${issue.id})}" th:object="${issue}" th:method="PUT">
        <div class="form-group">
        <label th:for="status">Status</label>
        <select th:field="*{status}">
            <option th:each="status : ${statuses}"
                    th:text="${status.name}"
                    th:value="${status}"></option>
        </select>
    </div>
    <br/>
        <form action="#" th:action="@{/issues/{id}(id=${issue.id})}" th:object="${comment}" th:method="PUT">
            <label for="author">name</label>
            <input type="text" th:field="*{author}" id="author" placeholder="author">
            <br/>
            <br/>
            <label for="text">text</label>
            <input type="text" th:field="*{text}" id="text" placeholder="text">
            <br/>
            <br/>
            <input type="submit" value="Save comment">
        </form>
</form>




</body>


